@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

html {
  background-image: url("../images/background.webp");
  color: white;
  font-family: "Open Sans", sans-serif;
}
